body{background-color:black; color:white; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

    header{margin-top:60px; text-align:center;}
        h1{margin:0;}
        h3{margin:5px; font-size:14px; color:rgb(125, 1, 125);}

    main{margin-top:60px;
        text-align:center;}

        #page1{margin-bottom:100px;}

        #quote-div{
           background-color: rgb(10, 10, 10); color:rgb(70, 70, 70);
           width: 50%; margin:auto; padding:10px;
           border-radius:5px; filter: drop-shadow(0px -5px 10px rgb(44, 16, 154));
           margin-bottom:60px;
        }

        #quote-div p{line-height: 1.5;}

        #requirements-div{
        background-color: rgb(10, 10, 10); color: rgb(160, 160, 160);
           width: 50%; margin:auto; margin-top:40px; padding:10px;
           border-radius:5px; border-color: black; filter: drop-shadow(0px 5px 20px rgb(125,1,125));
           margin-bottom:15px;
        }

        #requirements-div ul{padding:0; margin:none; margin-top:5px; text-align: center;}
        #requirements-div li{list-style: none; padding:4px; margin-top:5px; text-align: center;}

        #form-div{width:600px; margin:auto;}
        #form-div p{text-align:center}

        #password{width:100%; height:50px; font-size: 28px; text-align: center;
                    border:none; filter: drop-shadow(0px 0px 10px rgb(125,1,125));}
        ::placeholder{text-align: center; font-size:18px;}

        #visibility-text{color:rgb(90, 90, 90);} 
        #visibility:hover{cursor:pointer; background-color: black;}

        /* Form ends here*/

        #strength-meter {
            margin: auto; width: 100%; height: 40px; 
            border: solid; border-color: rgb(24, 24, 24); border-radius: 2px;
            position: relative;  
        }

        #meter-move {
            width: 0;  height: 100%;
            background-color: transparent; position: absolute; 
            top: 0; left: 0; 
            color:white;
        }
        

        #visibility-div{text-align: right;}

        #feedback-div{background-color: rgb(10, 10, 10); color: rgb(160, 160, 160);
                       padding:10px; }
        #feedback-div p{}



        #transition{
            #scrolldown-div{text-align:center; width:max-content; margin:auto; margin-bottom:60px;}
            #scrolldown-div p{font-size:30px; color: rgb(125,1,125); transform: rotate(180deg); animation: blink 2s infinite;}
        }
        
            @keyframes blink {
                0%, 100%{opacity: 0.8;}
                70%{opacity:0.15;}
            }
        

        #info-content{
            
        }

        #info-title{font-size:25px;}